# Arquivos e pastas de ambiente virtual
.venv/
venv/

# Pastas de cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Pastas com dados sensíveis e índices gerados
data/
Docmuentos/

# Pastas temporárias e de configuração do Chainlit
.chainlit/
.files/

# Arquivos de configuração de IDEs 
.vscode/
.idea/

# Arquivos de log
*.log