# Web Interface
chainlit

# LangChain Core e Componentes de IA
langchain
langchain-community
langchain-huggingface
langchain-ollama

# Vector Store
faiss-cpu

# Embedding Models
sentence-transformers

# PDF Processing & OCR
unstructured[local-inference]
pytesseract
pymupdf

# Lógica de Grafo (Protótipo)
lightrag
litellm

# Utilitários
python-dotenv
networkx